body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
}

.box {
  background-color: #B8B8B8;
  margin: 15px;
  padding: 15px;
  box-shadow: -3px -3px 5px #FCA311;
}

button {
  background-color: #14213D;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

h1 {
  font-size: 50px;
  color: #FCA311;
  text-shadow: 2px 2px 3px black;
}

p {
  color: black;
  text-shadow: 2px 2px 3px white;
  font-size: 20px;
}